version: '3'

services:
  db:
    image: mariadb
    container_name: nextcloud-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: example
      MYSQL_DATABASE: nextcloud
      MYSQL_USER: nc_user
      MYSQL_PASSWORD: nc_pass
    volumes:
      - db_data:/var/lib/mysql

  app:
    image: nextcloud
    container_name: nextcloud
    restart: always
    ports:
      - 8081:80
    links:
      - db
    volumes:
      - nc_data:/var/www/html
    environment:
      MYSQL_PASSWORD: nc_pass
      MYSQL_DATABASE: nextcloud
      MYSQL_USER: nc_user
      MYSQL_HOST: db

volumes:
  db_data:
  nc_data:
